/* Computer Modern - Regular */
@font-face {
  font-family: "Computer Modern";
  font-style: normal;
  font-weight: 400;
  src: url("cmunrm.woff2") format('woff2');
}

/* Computer Modern - Italic */
@font-face {
  font-family: "Computer Modern";
  font-style: italic;
  font-weight: 400;
  src: url("cmunti.ttf") format('truetype');
}

/* Font for Small Caps */
@font-face {
  font-family: "Small Caps";
  font-style: normal;
  font-weight: normal;
  src: url("cmunrm.woff2") format('woff2');
}
